.active{
    background-color: aquamarine;
}

.line{
    stroke: black;
    stroke-width: 1px;
    /* stroke-dasharray: 3px; */
}
/* svg{
    background-color: blue;
} */
.container-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa{
    font-size: x-small;
}