.dndflow {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
    
  }
  
  .dndflow aside > * {
    margin-bottom: 10px;
    cursor: grab;
  }
  
  .dndflow aside .description {
    margin-bottom: 10px;
  }
  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
    width: 80%;
    z-index: 10000;
  }
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 20%;
      max-width: 180px;
      z-index: 10000;
    }
  }
  .react-flow{
    position: static;
  }