.custom_node_parent{
    border: 1px solid #b3b3b3;
    width: 150px;
    height: 170px;
}
.custom_column_child{
    border: 1px solid #b3b3b3;
    width: 150px;
    height: 20px;
    font-size: 12px;
}
.react-flow__handle{
    // opacity: 0.01;
}